<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atiq.MuslimAsset">

    <application
        android:name="com.atiq.MuslimAsset.App"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:fullBackupContent="false"
        android:theme="@style/AppTheme.Mushaf">

        <activity
            android:name="com.atiq.MuslimAsset.mainActivities.MainActivityQuran"
            android:label="@string/nameTopBarQuran">

        </activity>

        <activity
            android:name="com.atiq.MuslimAsset.mainActivities.AyatActivity"
            android:parentActivityName="com.atiq.MuslimAsset.mainActivities.MainActivityQuran">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.atiq.MuslimAsset.mainActivities.MainActivityQuran" />
        </activity>



        <activity
            android:name=".ActivityHome"
            android:label="@string/nameTopBarHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ActivityHadith"
            android:label="@string/nameTopBarHadith">

        </activity>

        <activity android:name=".ActivityPrayer"
            android:label="@string/nameTopBarPryers">

        </activity>

        <activity android:name=".ActivityMore"
            android:label="@string/nameTopBarMore">

        </activity>




    </application>

</manifest>
