<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atiq.MuslimAsset">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />



    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:name=".prayersActivityFiles.AppController"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:fullBackupContent="false"
        android:theme="@style/AppTheme.atiq">
        <activity
            android:name=".MainActivityQuran"
            android:label="@string/nameTopBarQuran"></activity>
        <activity
            android:name=".mainActivityQuranFiles.AyatActivity"
            android:parentActivityName=".MainActivityQuran">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.atiq.MuslimAsset.MainActivityQuran" />
        </activity>
        <activity
            android:name=".ActivityHome"
            android:label="MuslimAsset">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityHadith"
            android:label="@string/nameTopBarHadith"></activity>
        <activity
            android:name=".ActivityPrayer"
            android:label="@string/nameTopBarPryers"></activity>
        <activity
            android:name=".ActivityAccount"
            android:label="@string/account">

        </activity>

        <activity
            android:name=".ProfileActivity"
            android:label="Profile">

        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="LoginActivity">

        </activity>


    </application>

</manifest>